
* {
  margin: 0;
  font-family:'Courier New', Courier, monospace;
  color: #333;
}


/* login */


.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(228, 228, 228); 
}
 
.Auth-form {
  width: 500px;
  box-shadow: rgb(0 0 0 / 50%) 1px 1px 10px;
  padding: 20px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  /* padding-bottom: 40px;
  padding-left: 12%;
  padding-right: 12%; */
}

a.nav-link:hover {
  color: rgb(0, 0, 0);
}

.scroller::-webkit-scrollbar {
  display: none;
}

.scroller {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}